
{% extends 'main/layout.html' %}

{% block title %}
    <title>Партнеры</title>
{% endblock %}

{% block content %}

  <h1>Партнерская программа {{ caption }}</h1>
  <p>Присоединяйтесь к партнерской программе <strong>CatDjango</strong> и получайте выгодные условия сотрудничества!</p>

  <h2>Почему стоит стать партнером?</h2>
  <ul>
      <li>Высокие комиссионные вознаграждения за каждую продажу.</li>
      <li>Удобные инструменты для отслеживания ваших доходов.</li>
      <li>Поддержка на всех этапах: от регистрации до продвижения.</li>
  </ul>

  <h2>Как это работает?</h2>
  <ol>
      <li>Зарегистрируйтесь в нашей партнерской программе.</li>
      <li>Получите уникальную ссылку для продвижения.</li>
      <li>Зарабатывайте на продажах, совершенных по вашей ссылке!</li>
  </ol>

  <br><br>

Не упустите возможность стать частью успешного проекта и зарабатывать вместе с <strong>{{ caption }}</strong>!

{% endblock %}