
{% extends 'main/layout.html' %}

{% block title %}
    <title>Котики</title>
{% endblock %}

{% block content %}
    <h1>Котики на логотипе {{ caption }}</h1>

    <br><br>

    <p>На нашем логотипе изображены два очаровательных котика: {{ cat1 }} и {{ cat2 }}.</p>

    <p><strong>{{ cat1 }}</strong> — это спокойный и задумчивый котик. Он всегда готов поддержать своего друга и порадовать своим добрым нравом. Мурзик обожает уютные места, где можно свернуться клубком и наслаждаться тишиной.</p>

    <p><strong>{{ cat2 }}</strong> — энергичный и игривый котенок, который всегда в поиске приключений. Он любит исследовать окружающий мир и заводить новых друзей. Симба привносит в жизнь Мурзика веселье и азарт!</p>

    <p>Эти два котика олицетворяют дружбу и командный дух, которые мы стремимся передать в нашем проекте {{ caption }}.</p>

{% endblock %}