
{% extends 'main/layout.html' %}

{% block title %}
    <title>Сообщество</title>
{% endblock %}

{% block content %}

    <h1>Сообщество {{ caption }}</h1>
<p>Добро пожаловать в <strong>сообщество {{ caption }}</strong> — место, где энтузиасты технологий могут собираться вместе для обсуждения последних новостей, обмена опытом и совместной работы над проектами.</p>

<h2>Почему стоит присоединиться?</h2>
<ul>
    <li>Обсуждение актуальных технологий и трендов.</li>
    <li>Возможность вести совместную работу над интересными проектами.</li>
    <li>Обмен опытом и знаниями с единомышленниками.</li>
    <li>Доступ к эксклюзивным вебинарам и мастер-классам.</li>
</ul>

<h2>Найдите единомышленников</h2>
<p>В нашем сообществе легко найти людей, разделяющих ваши интересы. Присоединяйтесь к обсуждениям, задавайте вопросы и делитесь своими идеями!</p>

<p>Станьте частью <strong>{{ caption }}</strong> и откройте для себя новые возможности для роста и развития.</p>
{% endblock %}