
{% extends 'main/layout.html' %}

{% block title %}
    <title>Обучение</title>
{% endblock %}

{% block content %}

  <h1>Обучающая программа {{ caption }}</h1>
  <p>Проект <strong>{{ caption }}</strong> предлагает уникальную обучающую программу, специально разработанную для того, чтобы помочь вам освоить современные технологии и навыки в области разработки.</p>

  <h2>Что включает программа?</h2>
  <ul>
      <li>Практические курсы по Django и другим популярным фреймворкам.</li>
      <li>Вебинары и мастер-классы с экспертами отрасли.</li>
      <li>Доступ к ресурсам и материалам для самостоятельного изучения.</li>
  </ul>

  <h2>Почему стоит обучаться с нами?</h2>
  <p>Наша программа ориентирована на практическое применение знаний, что позволяет вам не только изучать теорию, но и сразу применять навыки на практике. Вы сможете работать над реальными проектами и получать обратную связь от опытных наставников.</p>

  <p>Начните свое обучение с <strong>{{ caption }}</strong> уже сегодня и откройте новые горизонты в мире технологий!</p>

{% endblock %}